.section {
    margin: auto;
    width: 90%;
    border: 3px solid #CDA14A;
    padding: 10px;
  }

  .rsvpsection {
    background-image: url("https://images.unsplash.com/photo-1496661415325-ef852f9e8e7c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1399&q=80");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    opacity: 0.6;
    position: absolute;
    width: 100%;
    /* height: auto; */
  }

  .textcontent{
    position: relative;
  }
